.msf {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  min-height: 72vh;
}

.msf.show {
  opacity: 1;
}
.controls {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.dot {
  background-color: grey;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
}

.dot.selected {
  border: 1px solid rgba(82, 82, 82, 0.401);
  background-color: #0060e6;
}

.error {
  text-align: center;
  margin: 0 6px;
  color: red;
}

@media screen and (max-height: 900px) {
  .msf {
    min-height: 60vh;
  }
}

@media screen and (max-height: 700px) {
  .msf {
    margin-bottom: 12px;
    height: auto;
  }
}
